**Coursebook: Introduction to Python**
- Part 1 of Python Beginner DBS Indonesia Training
- Course Length: 6 hours
- Last Updated: January 2023

___
- Author: [Samuel Chan](https://github.com/onlyphantom)
- Developed by [Algoritma](https://algorit.ma)'s product division and instructors team

# Background

## Top-Down Approach 

The coursebook is part of the **Data Analytics Specialization** offered by [Algoritma](https://algorit.ma). It takes a more accessible approach compared to Algoritma's core educational products, by getting participants to overcome the "how" barrier first, rather than a detailed breakdown of the "why". 

This translates to an overall easier learning curve, one where the reader is prompted to write short snippets of code in frequent intervals, before being offered an explanation on the underlying theoretical frameworks. Instead of mastering the syntactic design of the Python programming language, then moving into data structures, and then the `pandas` library, and then the mathematical details in an imputation algorithm, and its code implementation; we would do the opposite: Implement the imputation, then a succinct explanation of why it works and applicational considerations (what to look out for, what are assumptions it made, when _not_ to use it etc).

For the most part, experience in Python programming is good to have but not required. Familiarity with data manipulation and data structures in a different programming language a welcome addition but again, not required.

## Training Objectives

This coursebook is intended for participants new to the world of data analysis and / or programming. No prior programming knowledge is assumed. 

The coursebook focuses on:
- Introduction to Python
- Introduction to Jupyter Notebook
- Introduction to the `pandas` library. 
- Introduction to `DataFrame`  
- Data Types
- Exploratory Data Analysis
- Indexing and Subsetting

The final part of this course is a Graded Asssignment, where you are expected to apply all that you've learned on a new dataset, and attempt the given questions.

# Python for Data Analysts

Since you'll spend a great deal of your time working with data in Jupyter Notebook, I think it's important to get yourself familiar with notebok documents (or "notebooks").

> Notebook documents are documents produced by *Jupyter Notebook*, which contain both computer code (e.g. python) and rich text elements (paragraph, equations, figures, links, etc…). Notebook documents are both human-readable documents containing the analysis description and the results (figures, tables, etc..) as well as executable documents which can be run to perform data analysis.

Jupyter Notebook provides an easy-to-use, interactive data science environment that doesn't only work as an IDE, but also as a presentation tool (as it can be exported to other document formats, such as .HTML, .PDF, etc).

If you’re a seasoned programmer, the **Ctrl + Shift + P** combination will bring up a shortcut reference guide that helps you use Jupyter Notebook more effectively.

## Command Mode and Edit Mode

Mode cell dalam notebook:
1. Command mode (cell berwarna BIRU)
    - B: menambahkan cell baru di Bawah (Below)
    - A: menambahkan cell baru di Atas (Above)
    - DD: Delete cell
    - C: Copy cell
    - V: Paste cell
    - Y: Mengubah ke code cell
    - M: Mengubah ke markdown cell
    - Enter: Mengubah command mode menjadi edit mode


2. Edit mode (cell berwarna HIJAU)
    - Ctrl + Enter: eksekusi satu cell
    - Esc: Mengubah edit mode menjadi command mode

## Variables and Keywords

Later on, we will often use assignment statements (`=`) to creates new variables. A variable is a name that refers to a value.

In [1]:
activity = 'programming'

print(activity)

programming

Thing to note here, like other programming languages, Python is **case-sensitive**, so `activity` and `Activity` are  different symbols and will point to different variables.

In [2]:
'activity' == 'Activity'

False

In [ ]:
activity == activity

True

Our previous code returned `True` as the output. Try to create a new variable and use `True` as the variable name, then see what happen.

> SyntaxError: can't assign to keyword

We can use `#` to create command in `code` mode

**What you need to know**:
- Python, as with `R`, `Swift`, `C`, and many other languages, are case-sensitive. `Sales` and `sales` refer to different objects.  
- You cannot use any Python keywords as identifers. 
- When naming your variables, start with a letter and use underscore (`_`) to join multiple words.
    - Wrong: `2019`, `2019sales`, `sales-2019`, `sales.2019`
    - Correct: `sales_2019`, `profit_after_tax`
- You cannot named object by `keyword` stored in python

In [4]:
# Python Keyword List
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [5]:
# Try to run code below
# True = 1 

True_answer = 1 # can use this
print(True_answer)

1

## Types of variables

### String
In Python, `String` data type represents text. It is comprised of a set of characters that can also contain spaces and numbers. For example, the word "hamburger" and the phrase "I ate 3 hamburgers" are both strings. There are several ways to create string object in Python:
- using single quote -> `'Hello World!'`
- using double-quote -> `"I'm a programmer"`
- using triple quote -> `''' "I'm smart!", he said '''`

Python's triple quotes comes to the rescue by allowing strings to span multiple lines.

In [6]:
para_str = '''this is a long string that is made up of several lines
you can use this as an message template
try it!
''' 
print(para_str)

this is a long string that is made up of several lines
you can use this as an message template
try it!

### Int and Float
`Int` (integer) is used to store numbers without a decimal point, otherwise `float` is a number with decimal point. 
Example:
- `an_int = 1`
- `a_float = 1.1`

In [7]:
a = 123456
b = 3.1415926

In [8]:
type(a)

int

In [9]:
type(b)

float

`int` and `float` allow us to manipulate numbers through **matematical operations** such as:
- addition `+`
- Substraction `-`
- Multiplication `*`
- Division `/`

In [10]:
# code here

### Compound types
Python has several way to create a compound object to store a collection of objects. Most of the time, `list` and `tuple` are used.

In [11]:
# Create a python list
customers = ['matthew', 'sam', 'fredric']
print(customers)

['matthew', 'sam', 'fredric']

In [12]:
# Check value inside a list
print('jane' not in customers)
print('rob' in customers)

True
False

In [13]:
# Check the length of a list
len(customers)

3

In [14]:
# Append new data to a list
customers.append('betty')
print(customers)

['matthew', 'sam', 'fredric', 'betty']

Other python list method : https://www.w3schools.com/python/python_lists_methods.asp

In [15]:
accounts = ['tom', 'bradley', 'cooper']
customers + accounts

['matthew', 'sam', 'fredric', 'betty', 'tom', 'bradley', 'cooper']

In [16]:
# Create a tuple
new_accounts = ('tom', 'bradley')
print(new_accounts)

('tom', 'bradley')

In [17]:
# Accessing value in list and tuple

# first data of customers list
print(customers[0])

# second data of new_accounts tuple
print(new_accounts[1])

matthew
bradley

#### `list` vs `tuple`
1. **Mutability** : `list` is mutable. We can add, drop, or mutate values of list. Meanwhile, `tuple` is not.
2. **Methods** : `list` has several built-in method (append, remode, etc) due to its mutability. `tuple` does not have many built-in method.

note: We can use `tuple` when we need to store unchangeable data. But `list` is the better option for performing operations, such as insertion and deletion.

### Daily Quizzes

Difference between List and Tuple (pick all that applies)

- [ ] A. The number of items they can each contain
- [ ] B. Immutability (the fact that it can be changed or manipulated)
- [ ] C. List has additional methods like len() but Tuple does not

# Introduction to pandas Library

## Working with DataFrame

We will start off by learning about a powerful Python data analysis library by the name of `pandas`. Its official documentation introduces itself as the "fundamental high-level building block for doing practical, real world data analysis in Python", and strive to do so by implementing many of the key data manipulation functionalities in R. This makes `pandas` a core member of many Python-based scientific computing environments.

From its [official documentation](https://pandas.pydata.org):

> Python has long been great for data munging and preparation, but less so for data analysis and modeling. pandas helps fill this gap, enabling you to carry out your entire data analysis workflow in Python without having to switch to a more domain specific language like R.

To use `pandas`, we will use Python's `import` function. Once imported, all `pandas` function can be accessed using the *pandas.function_name* notation.

In [18]:
import pandas as pd
print(pd.__version__)

1.5.3

In [19]:
pd.read_csv("data_input/data.csv", index_col=0)

,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,loan_amount,...,loan_condition_cat,interest_rate,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
id,,,,,,,,,,,,,,,,,,,,,
1077501,2011,01/12/2011,1012015,10.00,RENT,1,Low,24000,1,5000,...,0,10.65,B,2,27.65,5861.071414,5000.00,0.00,162.87,munster
1077430,2011,01/12/2011,1042013,0.50,RENT,1,Low,30000,1,2500,...,1,15.27,C,3,1.00,1008.710000,456.46,117.08,59.83,leinster
1077175,2011,01/12/2011,1062014,10.00,RENT,1,Low,12252,1,2400,...,0,15.96,C,3,8.72,3003.653644,2400.00,0.00,84.33,cannught
1076863,2011,01/12/2011,1012015,10.00,RENT,1,Low,49200,1,10000,...,0,13.49,C,3,20.00,12226.302210,10000.00,0.00,339.31,ulster
1075358,2011,01/12/2011,1012016,1.00,RENT,1,Low,80000,1,3000,...,0,12.69,B,2,17.94,3242.170000,2233.10,0.00,67.79,ulster
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51466752,2015,01/06/2015,1012016,10.00,RENT,1,Medium,105000,2,7000,...,0,12.69,C,3,18.71,1638.800000,1161.91,0.00,234.82,ulster
51476872,2015,01/06/2015,1012016,6.05,MORTGAGE,3,Low,24000,1,5725,...,0,16.99,D,4,31.80,1423.230000,898.69,0.00,204.09,cannught
51416633,2015,01/06/2015,1012016,7.00,RENT,1,Low,38400,1,5000,...,0,8.18,B,2,4.47,1095.160000,878.93,0.00,157.10,ulster
50496839,2015,01/06/2015,1012016,10.00,MORTGAGE,3,Medium,175000,2,21300,...,0,12.29,C,3,8.10,4342.500000,3030.30,0.00,710.42,ulster
38468626,2015,01/06/2015,1012016,8.00,RENT,1,Low,50000,1,14400,...,0,13.33,C,3,2.16,2299.970000,1231.34,0.00,330.09,Northern-Irl

In [20]:
loan = pd.read_csv("data_input/data.csv")
loan.head()

,id,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,...,loan_condition_cat,interest_rate,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region
0,1077501,2011,01/12/2011,1012015,10.0,RENT,1,Low,24000,1,...,0,10.65,B,2,27.65,5861.071414,5000.00,0.00,162.87,munster
1,1077430,2011,01/12/2011,1042013,0.5,RENT,1,Low,30000,1,...,1,15.27,C,3,1.00,1008.710000,456.46,117.08,59.83,leinster
2,1077175,2011,01/12/2011,1062014,10.0,RENT,1,Low,12252,1,...,0,15.96,C,3,8.72,3003.653644,2400.00,0.00,84.33,cannught
3,1076863,2011,01/12/2011,1012015,10.0,RENT,1,Low,49200,1,...,0,13.49,C,3,20.00,12226.302210,10000.00,0.00,339.31,ulster
4,1075358,2011,01/12/2011,1012016,1.0,RENT,1,Low,80000,1,...,0,12.69,B,2,17.94,3242.170000,2233.10,0.00,67.79,ulster

In [ ]:
len(loan)

In the code above, we used `.read_csv()` to read a csv file from a specified path. Notice that we set `index_col=0` so the first column in the csv is used as the index. By default, this function treats the first row as the header row. We can add `header=None` to the function call telling `pandas` to read in a CSV without headers.

You may find it curious that we use `0` to reference the first element of an axis; This is because Python uses 0-based indexing, a behavior that is different from other languages such as R and Matlab.

#### Knowledge Check: Error

Referring to the previous **Python keywords** concept. Which of the following 4 lines of code will evaluate without raising an error?

- [ ] `pd.read_csv("data_input/data.csv", index_col=false)`
- [ ] `Import pandas as pd`
- [ ] `print(100-2)`
- [ ] `None = 2`

In [ ]:
## Your code below


## -- Solution code

## Data Types

`pandas` allow data analysts to create Series objects and DataFrame objects. Series is used to represent a one-dimensional array whereas DataFrame emulates the functionality of "Data Frames" in R and is useful for tabular data. 

In practice, a large proportion of our data is tabular: when we import data from a relational database (MySQL, Postgre) or from a spreadsheet software (Google Sheets, Microsoft Excel) we can represent these data as a DataFrame object.

When we call `pd.read_csv()` earlier, `pandas` will try to infer data types from the values in each column. Sometimes, it get it right but more often that not, a data analyst's intervention is required. In the following sub-section, we'll learn about various techniques an analyst have at his/her disposal when it comes to the treatment of pandas data types.

In [ ]:
print(loan.dtypes)

`dtypes` simply stands for "data types". Because `loan` is a `pandas` object, accessing the `dtypes` attribute will return a series with the data type of each column. 

----
#### Knowledge check: `.dtypes` and pandas attributes
Look at the following code - what is the expected output from the following code? Why?
```
x = [2019, 4, 'data science']
x.dtypes
```

Hint: Try `type(x)` and verify the type for object `x`.

In [ ]:
## Your code below


## -- Solution code

Let's take a look at some examples of `DataFrame.dtypes`:

In [ ]:
employees = pd.DataFrame({
    'name': ['Anita', 'Brian'],
    'age': [34, 29],
    'joined': [pd.Timestamp('20190410'), pd.Timestamp('20171128')],
    'degree': [True, False],
    'hourlyrate': [35.5, 29],
    'division': ['HR', 'Product']
})
employees.dtypes

In [ ]:
employees

Let's go through the columns and their data types from the above `DataFrame`:

- `name` [`object`]: store text values
- `age` [`int`]: integer values
- `joined` [`datetime`]: date and time values
- `degree` [`bool`]: True/False values
- `hourlyrate` [`float`]: floating point values
- `division` [`object`]: store text values

Among these columns, only `age` and `hourlyrate` are columns with numeric values. This is a simple, but important, observation to make as we make our way into the Exploratory Data Analysis phase. But before we do, let's do one more exercise. Take a closer look at the Data Frame we just created again.

Out of the 6 columns, one of them is of special interest to our next discussion, **categorical values**.

### Categorical and Numerical Variables


When working with categories, it is recommended both from a business point of a view and a technical one to use `pandas` categorical data type. From a business perspective, this adds clarity to the analyst's mind about the type of data he/she is working with. This informs and guides the analysis, on questions such as which statistical methods or plot types to use.

From a technical viewpoint, the memory savings -- and in turn, computation speed as well as computational resources -- can be quite significant. Specifically, the docs remarked:

> The memory usage of a `Categorical` is proportional to the number of categories plus the length of the data. In contrast, an `object` dtype is a constant times the length of the data

One more important remakrs from the docs:

> Categoricals are a pandas data type corresponding to categorical variables in statistics. A categorical variable takes on a limited, and usually fixed, number of possible values (categories; levels in R). Examples are gender, social class, blood type, country affiliation or rating via Likert scales.

Can you spot which of our column holds values that should be encoded in the `category` data type? Once you've spotted it, use the `astype('category')` method to perform the conversion. Remember to re-assign this new column so the original column (`object`) type is overwritten with the new `category` type column.

Examples:

```py
# convert marital_status to category
employees['marital_status'] = employees['marital_status'].astype('category')

# convert experience to integer
employees['experience'] = employees['experience'].astype('int')
```

In [ ]:
## Your code below


## -- Solution code

Use `employees.dtypes` to confirm that you've done the exercise above correctly:

In [ ]:
## Your code below


## -- Solution code

In most real-world projects, your work as a data analyst will involve working with **categorical**, **numeric** and **datetime** values; either treating them as "features" or "target". In the case of machine learning:

- A **categorical** target represents a classification problem
- A **numeric** target represents a regression problem

## Exploratory Data Analysis Tools

In simple words, exploratory data analysis (EDA) refers to the process of performing initial investigations on data, often with the objective of becoming familiar with certain characteristics of the data. This is usually done with the aid of summary statistics and simple graphical techniques that purposefully uncover the structure of our data.

We'll start off by using some of the most convenient EDA tools conveniently built into `pandas`. Particularly, this is a summary of what we'll cover in common EDA workflows:

- `.head()` and `.tail()`
- `.describe()`
- `.shape` and `.size`
- `.axes`
- `.dtypes`

In [ ]:
employees.describe()

The `.describe()` method will generate descriptive statistics of our data, and by default include all numeric columns in our DataFrame. It lists 8 statistical properties of each attribute, for example on numerical values:
- Count
- Mean
- Standard Deviation
- Minimum Value
- 25th Percentile (Q1)
- 50th Percentile (Q2/Median)
- 75th Percentile (Q3)
- Maximum Value

The `describe()` method will generate descriptive statistics of our data, and by default include all numeric columns in our DataFrame. The code above calls `.describe()` on `employees`, from which there are two numeric columns. This method is an "instruction" to perform something (functions) associated with the object. We've seen earlier how to use `.head()` and `.tail()` on our DataFrame: these are also method calls!

We can add an `include` parameter in the `.describe()` method call, which takes a list-like of dtypes to be included or `all` for all columns of the dataframe.

Add a new cell below, calling `describe()` but only on columns of `object` and `datetime` types (`['object', 'datetime']`).

In [ ]:
## Your code below


## -- Solution code

Very often, we also want to know the shape of our data - i.e. how many rows and columns are there in our DataFrame? 

Our DataFrame has attributes that we can use to answer those questions. An attribute is a value stored within an object that describe an aspect of the object's characteristic. In the following call, we are asking for the `.shape` and the `.size` attribute of our `loan` DataFrame.

_Tip:_
Unlike `describe()`, which is a method call; `shape` and `size` are **attributes** of our DataFrame - that means no function is evaluated; Only a value stored in the object's instance is looked up and returned.

In [ ]:
print(loan.shape)
print(loan.size)

`size` returns the number of elements in the `loan` DataFrame. Because we have 12,000 rows and 10 columns, the total number of elements would be a total of 120,000. 

Use `.shape` on the `employees` DataFrame. From the resulting output, could you tell what would be the result of calling `employees.size`?

In [ ]:
## Your code below


## -- Solution code

One other attribute that is often useful is `.axes`, which return a list representing the axes of our DataFrame. Most likely, this would be a list of length 2, one for the row axis and one for the column axis, in that particular order.

Because it is ordered that way, calling `.axes[0]` would return the first item of that list, which would be the row axis (or row names if present) and calling `.axes[1]` would return the column axis, which would be equivalent to calling `loan.columns`:

In [ ]:
loan.axes[1]

We've covered `.dtypes` in earlier sections, so go ahead and practice inspecting the data types of `loan` DataFrame. Are the columns in the right data types? If they are not, formulate a mental checklist of type conversion you need to perform.

In [ ]:
loan.dtypes

In [ ]:
loan.head()

In [ ]:
# check unique value of columns in dataframe
loan['income_category'].unique()

We can convert `issue_d` to a `datetime` type, and perform the conversion for the categorical columns as well:

In [ ]:
loan['issue_d'] = loan['issue_d'].astype('datetime64')
loan[['income_category', 'home_ownership', 'region']] = loan[['income_category', 'home_ownership', 'region']].astype('category')
loan.dtypes

#### Knowledge Check: Data types

Supposed we have a pandas DataFrame named `inventory`. 

1. We called `inventory.dtypes` and got the following output. Which of the column likely require type conversion because it seems to have the wrong data type? Choose all that apply.

    - [ ] `units_instock`: int64
    - [ ] `discount_price`: float64
    - [ ] `item_name`: object
    - [ ] `units_sold`: object
    

2. We would like to know the number of columns in `inventory`. Which of the following code would print the number of columns in `inventory`? Choose all that apply.

    - [ ] `print(len(inventory.columns))`
    - [ ] `print(inventory.shape[1])`
    - [ ] `print(len(inventory.axes[1]))`

## Indexing and Subsetting with Pandas

Using indexing operators to select, summarize or transform only a subset of data is a critical part of any data analysis workflow. Consider the following use-cases:

- Compare the sales in Year 2018 vs Year 2019  
- Identify missed opportunities in a specific market segment (e.g. Retail vs Wholesale)
- Best quarter of the year to execute cross-selling promos / discounts
- Study profitability of goods in the higher price range (e.g. IDR45000000+) and how competitors positioning affect sales in that price range

Notice that in all of these use-cases, data analysts will want to use some combination of indexing and then perform the necessary computations on that specific slice or slices of data. Unsurprisingly, `pandas` come with a number of methods to help you accomplish this task.

In the following section, we'll take a closer look at some of the most common slicing and subsetting operations in `pandas`:
- `head()` and `tail()`  
- The `[]` operator
- `.loc`  
- `.iloc`
- Conditional subsetting

Rather commonly, you may want to perform subsetting by slicing out a set of rows. This can be done using the `loan[start:end]` syntax, where `start` is inclusive.

The code follows slices out the first to fourth row, or equivalently, row with the index 0, 1, 2, and 3.

In [ ]:
loan[0:4]

#### Knowledge Check: Slicing

Recalling that the `end` is not inclusive and Python's 0-based indexing behavior, if we have wanted to subset the **8th to 12th** row of our data, how would we have done it instead? Pick the right answer and try it in a new code cell below.

- [ ] `loan[7:12]`
- [ ] `loan[8:12]`
- [ ] `loan[7:13]`
- [ ] `loan[8:13]`

Using `.loc` and `.iloc`, we can perform slicing on both the row and column indices, offering us even greater flexibility and control over our subsetting operations.

`.iloc` requires us to pass an `integer` to either the row or/and column. We can also use `:` to indicate no subsetting in a certain direction. The following code slices out the first 5 rows but take all columns (pay attention to the use of the `:` operator):

In [ ]:
loan.iloc[0:5, :]

Putting together what you've learned so far, use `.iloc` to subset the **last 2 rows of our dataframe**, and the **first 4 columns**. If you perform this exercise correctly, the output `x` should be a `pandas` dataframe (`type(x)` is a pandas `DataFrame` object)

Bonus: If you want an extra challenge, try and perform this operation three times; 
1. Use only `.iloc[ , ]`
2. Use `tail(2)` to get the last 2 rows then chain it with `.iloc`  
3. Use `loan.shape[0]-2:` to get the last 2 rows in your `.iloc` operation

In [ ]:
## Your code below


## -- Solution code

`.loc`, in contrast to `.iloc` does not subset based on _integer_ but rather subset based on `label`. We can still use `integer` but our integers will be treated or interpreted as _labels_.

Let's read in the same `csv`, except this time we will set `id` as the row labels:

In [ ]:
loan = pd.read_csv('data_input/data.csv', index_col=0)
loan.head()

To subset for the row of loan corresponding to id 1077501 and 1076863, we can use label-based indexing (`.loc`) as such:

In [ ]:
loan.loc[[1077501, 1076863], :]

### Conditional Subsetting

Along with `.iloc` and `.loc`, probably the most helpful type of subsetting would have to be conditional subsetting.

With conditional subsetting, we select data based on criteria we specified:
- `loan['home_ownership'] == 'RENT'` to create a condition of all loan with RENT home ownership  
- `loan['annual_inc'] >= 30000` to create a condition of loan with annual income greater than 30000 
- `loan['region'] != 'munster'` to get "non-munster" loan data

The basic formula of conditional subsetting: \
`dataframe[condition]` \
example : `loan[loan['annual_inc'] >= 30000]`


We can also use the `&` and `|` operators to join conditions:

`sales[(sales.salesperson == 'Moana') & (sales.amount > 5000)]` subset any rows where Moana has sold more than $5000 worth of items

In [ ]:
# code here

### Case
Our supervisor came and ask for a total number of specific data:
- ulster region
- greater than 1,500,000 annual income 

How would you get the number of data?

In [ ]:
# code here